@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@1&family=Scheherazade+New&display=swap');
body {
	margin: 0;
	padding: 10px;
  background-color:#fdf214;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.logoimg {
	width: 75px;
	height: 75px;
}
.Logoutbtn , .Backbtn ,.edit_button{
	background-color: black;
	color: white;
	width: 140px;
	font-size: 35px;
	border-radius: 15px;
	padding: 5px;
	box-shadow: 10px 10px 10px gray;
  margin:10px;
  font-family: 'Scheherazade New', serif;
}
.Logoutbtn:hover , .Backbtn:hover {
	background-color: #008080;
	box-shadow: 20px 20px 10px gray;
	transition-duration: 1s;
}
.Logoutbtn:active , .Backbtn:active {
	background-color: black;
	box-shadow: 10px 10px 10px gray;
	transition-duration: 1s;
}
.details{
  border:5px solid black;
  height:600px;
  margin:4px;
  
}
select{
  margin:30px;
  width:160px;
  height:59px;
  font-size:20px;
  appearance:none;
  padding-left:5px;
}
select:not([multiple]){
  background : #00e0ff;
  background-size: 1em 1em;
  padding-right : 1em;
}
label{
  color:white;
  margin-left:30px;
  font-size:20px;
}
.div2{
  margin-bottom:50px;
}
.name,.regno{
  width:25%;
  height:55px;
  margin:30px;
  font-size:25px;
  background-color:#00e0ff;
  font-family: 'DM Serif Text', serif;
}
.edit_button{
  margin-left:300px;
}
th,td{
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  background-color:#00e0ff;
  font-family: 'DM Serif Text', serif;
  
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin:20px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.year{
  background-color:#00e0ff;
  border:2px solid #000000;
  width: 25%;
  font-family: 'DM Serif Text', serif;
}
.filter{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.label {
  width: 25%;
  background-color: black;
  height: 3.5em;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-family: 'DM Serif Text', serif;
}
.title{
  font-family: 'DM Serif Text', serif;
}
