body {
	margin: 0;
	padding: 10px;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.logoimg {
	width: 75px;
	height: 75px;
}
.Logoutbtn , .Backbtn {
	background-color: black;
	color: white;
	width: 140px;
	font-size: 35px;
	border-radius: 15px;
	padding: 15px;
	box-shadow: 10px 10px 10px gray;
	margin: 15px;
}
.Logoutbtn:hover , .Backbtn:hover {
	background-color: #3f7f3f;
	box-shadow: 20px 20px 10px gray;
	transition-duration: 1s;
}
.Logoutbtn:active , .Backbtn:active {
	background-color: black;
	box-shadow: 10px 10px 10px gray;
	transition-duration: 1s;
}
.Welcomediv {
	display: flex;
	width: 50%;
	font-size: 25px;
	justify-content: center;
}
.link {
	width: 100%;
}
.mainBody {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.FuncButtons {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 75%;
}
.FuncButton {
	height: 45%;
}
.Function:hover , .updatesdiv:hover {
	background-color: black;
	box-shadow: 20px 20px 10px gray;
	transition-duration: 1s;
}
.Function:active {
	background-color: black;
	box-shadow: 10px 10px 10px gray;
	transition-duration: 1s;
}
.Function,.updatesdiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white; 
	color: #00FFFF;
	font-size: 35px;
	border: 5px solid black;
	border-radius: 15px;
	box-shadow: 10px 10px 10px gray;
	width: 80%;
	cursor: pointer;
	height: 100%;
	margin: auto;
	text-shadow: 5px 5px 5px blue; 
}
.updatesdiv {
	width: 50%; 
	height: 500px;
	background-color: black;
	color: white;
	text-shadow: 0px 0px;
	cursor: default;
}
.updates {
	font-size: 20px;
	margin: 10px;
}
a {
	text-decoration: none;
}
.Complaint {
	text-align: center;
	margin: 25px;
	font-size: 25px;
	font-weight: bolder;
}
#StuDetails {
	background-image: url(StuDetails.jpeg);
	background-size: cover;
}
#SemMarks {
	background-image: url(StuMark.jpeg);
	background-size: cover;
}
@media only screen and (max-width: 620px) {
	.mainBody {
		flex-direction: column;
		align-items: center;
		margin: 25px;
	}
	.FuncButtons,.updatesdiv {
		width: 100%;
	} 
	.FuncButton {
		margin: 25px 0;
		height: 250px;
	}
}
.details{
  border:5px solid black;
  height:600px;
  margin:4px;
}
select{
  margin:60px;
  width:160px;
  height:59px;
  font-size:20px;
  appearance:none;
  padding-left:5px;
}
select:not([multiple]){
  background : url(IMAGES/downarrow.png) right center no-repeat;
  background-size: 1em 1em;
  padding-right : 1em;
}
label{
  background-color:black;
  color:white;
  padding:20px;
  margin-left:60px;
  font-size:20px;
}
.div2{
  margin-bottom:50px;
}
.name,.regno{
  width:250px;
  height:55px;
  margin:30px;
  font-size:25px;
}
.edit_button{
  margin-left:300px;
}
th,td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin:20px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.reg_l{
  margin-left:90px;
}